header {
  height: 625px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  transition: background-image 1s ease-in-out; 
}

nav {
  width: 100%;
  height: 10vh;
  background-color: rgba(0, 0, 0, 0.3);
}

.logo h4 {
  position: absolute;
  margin-top: 10px;
  left: 15%;
  font-size: 30px;
  font-family: 'Georgia', 'Times New Roman', serif;
  color: rgb(3, 96, 85);
} 

.logo img{
  position: absolute;
  left: 165px;
  width: 40px;
  height: 53px;
}

.nav-link {
  display: flex;
  list-style: none;
  width: 50%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
}

.nav-link li a {
  text-decoration: none;
  font-size: 17px;
  color: white;
  font-family: "Lobster", sans-serif;
}

.active {
  border: 1px solid goldenrod;
  padding: 5px;
  border-radius: 5px;
}

.introduce {
  width: 600px;
  position: absolute;
  margin: rgb(203 132 48);
}

.nav-link li a:hover,
.judul:hover {
  font-weight: bold;
}



.introduce h1 {
  color: rgb(255, 230, 230);
}

.introduce p {
  font-size: 21px;
  color: rgb(233, 230, 230);
  text-align: center;
  padding: 60px 100px 100px 60px;
  background-color: chocolate;
}

.logoPrincipal {
  width: 400px;
  position: relative;
}

.logoPrincipal img {
  position: absolute;
  top: 40px;
  left: 650px;
  width: 500px; /* Cambia este valor al tamaño deseado */
  height: 500px; /* Mantiene la relación de aspecto */
}
